<div>
  <h2 id="page-heading" data-cy="MenuItemAllergenHeading">
    <span jhiTranslate="restaurantApp.menuItemAllergen.home.title">Menu Item Allergens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="restaurantApp.menuItemAllergen.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-menu-item-allergen"
        [routerLink]="['/menu-item-allergen/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="restaurantApp.menuItemAllergen.home.createLabel">Create a new Menu Item Allergen</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (menuItemAllergens().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="restaurantApp.menuItemAllergen.home.notFound">No Menu Item Allergens found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="allergen">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.menuItemAllergen.allergen">Allergen</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.menuItemAllergen.notes">Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="menuItem.name">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.menuItemAllergen.menuItem">Menu Item</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (menuItemAllergen of menuItemAllergens(); track trackId(menuItemAllergen)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/menu-item-allergen', menuItemAllergen.id, 'view']">{{ menuItemAllergen.id }}</a>
              </td>
              <td [jhiTranslate]="'restaurantApp.AllergenType.' + (menuItemAllergen.allergen ?? 'null')">
                {{
                  {
                    null: '',
                    GLUTEN: 'GLUTEN',
                    DAIRY: 'DAIRY',
                    EGGS: 'EGGS',
                    NUTS: 'NUTS',
                    PEANUTS: 'PEANUTS',
                    SOY: 'SOY',
                    FISH: 'FISH',
                    SHELLFISH: 'SHELLFISH',
                    SESAME: 'SESAME',
                  }[menuItemAllergen.allergen ?? 'null']
                }}
              </td>
              <td>{{ menuItemAllergen.notes }}</td>
              <td>
                @if (menuItemAllergen.menuItem) {
                  <div>
                    <a [routerLink]="['/menu-item', menuItemAllergen.menuItem.id, 'view']">{{ menuItemAllergen.menuItem.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/menu-item-allergen', menuItemAllergen.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/menu-item-allergen', menuItemAllergen.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(menuItemAllergen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
