<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (orderItem(); as orderItemRef) {
      <div>
        <h2 data-cy="orderItemDetailsHeading"><span jhiTranslate="restaurantApp.orderItem.detail.title">Order Item</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ orderItemRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantApp.orderItem.quantity">Quantity</span></dt>
          <dd>
            <span>{{ orderItemRef.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantApp.orderItem.unitPrice">Unit Price</span></dt>
          <dd>
            <span>{{ orderItemRef.unitPrice }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantApp.orderItem.totalPrice">Total Price</span></dt>
          <dd>
            <span>{{ orderItemRef.totalPrice }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantApp.orderItem.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'restaurantApp.OrderItemStatus.' + (orderItemRef.status ?? 'null')">{{
              { null: '', PENDING: 'PENDING', PREPARING: 'PREPARING', READY: 'READY', SERVED: 'SERVED', CANCELLED: 'CANCELLED' }[
                orderItemRef.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantApp.orderItem.specialInstructions">Special Instructions</span></dt>
          <dd>
            <span>{{ orderItemRef.specialInstructions }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantApp.orderItem.notes">Notes</span></dt>
          <dd>
            <span>{{ orderItemRef.notes }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantApp.orderItem.menuItem">Menu Item</span></dt>
          <dd>
            @if (orderItem()!.menuItem) {
              <div>
                <a [routerLink]="['/menu-item', orderItem()!.menuItem?.id, 'view']">{{ orderItemRef.menuItem?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="restaurantApp.orderItem.order">Order</span></dt>
          <dd>
            @if (orderItem()!.order) {
              <div>
                <a [routerLink]="['/restaurant-order', orderItem()!.order?.id, 'view']">{{ orderItemRef.order?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/order-item', orderItemRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
