<div>
  <h2 id="page-heading" data-cy="WaitingListHeading">
    <span jhiTranslate="restaurantApp.waitingList.home.title">Waiting Lists</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="restaurantApp.waitingList.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-waiting-list"
        [routerLink]="['/waiting-list/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="restaurantApp.waitingList.home.createLabel">Create a new Waiting List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (waitingLists().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="restaurantApp.waitingList.home.notFound">No Waiting Lists found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestedDate">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.waitingList.requestedDate">Requested Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestedTime">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.waitingList.requestedTime">Requested Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="partySize">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.waitingList.partySize">Party Size</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.waitingList.notes">Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isNotified">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.waitingList.isNotified">Is Notified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expiresAt">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.waitingList.expiresAt">Expires At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.waitingList.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location.name">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.waitingList.location">Location</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="client.login">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.waitingList.client">Client</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="room.name">
              <div class="d-flex">
                <span jhiTranslate="restaurantApp.waitingList.room">Room</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (waitingList of waitingLists(); track trackId(waitingList)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/waiting-list', waitingList.id, 'view']">{{ waitingList.id }}</a>
              </td>
              <td>{{ waitingList.requestedDate | formatMediumDate }}</td>
              <td>{{ waitingList.requestedTime }}</td>
              <td>{{ waitingList.partySize }}</td>
              <td>{{ waitingList.notes }}</td>
              <td>{{ waitingList.isNotified }}</td>
              <td>{{ waitingList.expiresAt | formatMediumDatetime }}</td>
              <td>{{ waitingList.createdAt | formatMediumDatetime }}</td>
              <td>
                @if (waitingList.location) {
                  <div>
                    <a [routerLink]="['/location', waitingList.location.id, 'view']">{{ waitingList.location.name }}</a>
                  </div>
                }
              </td>
              <td>
                {{ waitingList.client?.login }}
              </td>
              <td>
                @if (waitingList.room) {
                  <div>
                    <a [routerLink]="['/dining-room', waitingList.room.id, 'view']">{{ waitingList.room.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/waiting-list', waitingList.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/waiting-list', waitingList.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(waitingList)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (waitingLists().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
