<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payment-heading" data-cy="PaymentCreateUpdateHeading" jhiTranslate="restaurantApp.payment.home.createOrEditLabel">
        Create or edit a Payment
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="restaurantApp.payment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let transactionCodeRef = editForm.get('transactionCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_transactionCode" jhiTranslate="restaurantApp.payment.transactionCode"
            >Transaction Code</label
          >
          <input
            type="text"
            class="form-control"
            name="transactionCode"
            id="field_transactionCode"
            data-cy="transactionCode"
            formControlName="transactionCode"
          />
          @if (transactionCodeRef.invalid && (transactionCodeRef.dirty || transactionCodeRef.touched)) {
            <div>
              @if (editForm.get('transactionCode')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('transactionCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let amountRef = editForm.get('amount')!;
        <div class="mb-3">
          <label class="form-label" for="field_amount" jhiTranslate="restaurantApp.payment.amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          @if (amountRef.invalid && (amountRef.dirty || amountRef.touched)) {
            <div>
              @if (editForm.get('amount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('amount')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('amount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let methodRef = editForm.get('method')!;
        <div class="mb-3">
          <label class="form-label" for="field_method" jhiTranslate="restaurantApp.payment.method">Method</label>
          <select class="form-control" name="method" formControlName="method" id="field_method" data-cy="method">
            <option [ngValue]="null">{{ 'restaurantApp.PaymentMethod.null' | translate }}</option>
            @for (paymentMethod of paymentMethodValues; track $index) {
              <option [value]="paymentMethod">{{ 'restaurantApp.PaymentMethod.' + paymentMethod | translate }}</option>
            }
          </select>
          @if (methodRef.invalid && (methodRef.dirty || methodRef.touched)) {
            <div>
              @if (editForm.get('method')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="restaurantApp.payment.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'restaurantApp.PaymentStatus.null' | translate }}</option>
            @for (paymentStatus of paymentStatusValues; track $index) {
              <option [value]="paymentStatus">{{ 'restaurantApp.PaymentStatus.' + paymentStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paidAt" jhiTranslate="restaurantApp.payment.paidAt">Paid At</label>
          <div class="d-flex">
            <input
              id="field_paidAt"
              data-cy="paidAt"
              type="datetime-local"
              class="form-control"
              name="paidAt"
              formControlName="paidAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let receiptUrlRef = editForm.get('receiptUrl')!;
        <div class="mb-3">
          <label class="form-label" for="field_receiptUrl" jhiTranslate="restaurantApp.payment.receiptUrl">Receipt Url</label>
          <input
            type="text"
            class="form-control"
            name="receiptUrl"
            id="field_receiptUrl"
            data-cy="receiptUrl"
            formControlName="receiptUrl"
          />
          @if (receiptUrlRef.invalid && (receiptUrlRef.dirty || receiptUrlRef.touched)) {
            <div>
              @if (editForm.get('receiptUrl')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let notesRef = editForm.get('notes')!;
        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="restaurantApp.payment.notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
          @if (notesRef.invalid && (notesRef.dirty || notesRef.touched)) {
            <div>
              @if (editForm.get('notes')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="restaurantApp.payment.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_processedBy" jhiTranslate="restaurantApp.payment.processedBy">Processed By</label>
          <select
            class="form-control"
            id="field_processedBy"
            data-cy="processedBy"
            name="processedBy"
            formControlName="processedBy"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_order" jhiTranslate="restaurantApp.payment.order">Order</label>
          <select
            class="form-control"
            id="field_order"
            data-cy="order"
            name="order"
            formControlName="order"
            [compareWith]="compareRestaurantOrder"
          >
            @if (editForm.get(['order'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (restaurantOrderOption of restaurantOrdersSharedCollection; track $index) {
              <option [ngValue]="restaurantOrderOption">{{ restaurantOrderOption.orderCode }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['order'])!.invalid && (editForm.get(['order'])!.dirty || editForm.get(['order'])!.touched)) {
          <div>
            @if (editForm.get(['order'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
