<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-dining-room-heading"
        data-cy="DiningRoomCreateUpdateHeading"
        jhiTranslate="restaurantApp.diningRoom.home.createOrEditLabel"
      >
        Create or edit a Dining Room
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="restaurantApp.diningRoom.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="restaurantApp.diningRoom.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('name')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >This field is required to be at least 2 characters.</small
                >
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let descriptionRef = editForm.get('description')!;
        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="restaurantApp.diningRoom.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          @if (descriptionRef.invalid && (descriptionRef.dirty || descriptionRef.touched)) {
            <div>
              @if (editForm.get('description')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_floor" jhiTranslate="restaurantApp.diningRoom.floor">Floor</label>
          <input type="number" class="form-control" name="floor" id="field_floor" data-cy="floor" formControlName="floor" />
        </div>

        @let capacityRef = editForm.get('capacity')!;
        <div class="mb-3">
          <label class="form-label" for="field_capacity" jhiTranslate="restaurantApp.diningRoom.capacity">Capacity</label>
          <input type="number" class="form-control" name="capacity" id="field_capacity" data-cy="capacity" formControlName="capacity" />
          @if (capacityRef.invalid && (capacityRef.dirty || capacityRef.touched)) {
            <div>
              @if (editForm.get('capacity')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('capacity')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >This field should be at least 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('capacity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let isActiveRef = editForm.get('isActive')!;
        <div class="mb-3">
          <label class="form-label" for="field_isActive" jhiTranslate="restaurantApp.diningRoom.isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
          @if (isActiveRef.invalid && (isActiveRef.dirty || isActiveRef.touched)) {
            <div>
              @if (editForm.get('isActive')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let floorPlanUrlRef = editForm.get('floorPlanUrl')!;
        <div class="mb-3">
          <label class="form-label" for="field_floorPlanUrl" jhiTranslate="restaurantApp.diningRoom.floorPlanUrl">Floor Plan Url</label>
          <input
            type="text"
            class="form-control"
            name="floorPlanUrl"
            id="field_floorPlanUrl"
            data-cy="floorPlanUrl"
            formControlName="floorPlanUrl"
          />
          @if (floorPlanUrlRef.invalid && (floorPlanUrlRef.dirty || floorPlanUrlRef.touched)) {
            <div>
              @if (editForm.get('floorPlanUrl')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_widthPx" jhiTranslate="restaurantApp.diningRoom.widthPx">Width Px</label>
          <input type="number" class="form-control" name="widthPx" id="field_widthPx" data-cy="widthPx" formControlName="widthPx" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_heightPx" jhiTranslate="restaurantApp.diningRoom.heightPx">Height Px</label>
          <input type="number" class="form-control" name="heightPx" id="field_heightPx" data-cy="heightPx" formControlName="heightPx" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_location" jhiTranslate="restaurantApp.diningRoom.location">Location</label>
          <select
            class="form-control"
            id="field_location"
            data-cy="location"
            name="location"
            formControlName="location"
            [compareWith]="compareLocation"
          >
            @if (editForm.get(['location'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (locationOption of locationsSharedCollection; track $index) {
              <option [ngValue]="locationOption">{{ locationOption.name }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['location'])!.invalid && (editForm.get(['location'])!.dirty || editForm.get(['location'])!.touched)) {
          <div>
            @if (editForm.get(['location'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
